.game__hand {
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 200px;
	width: 200px;
}

.game__hand--rock {
	background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	box-shadow: inset 0 -8px 2px #a01736;
}

.game__hand--paper {
	background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	box-shadow: inset 0 -8px 2px #2a46c1;
}

.game__hand--scissors {
	background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	box-shadow: inset 0 -8px 2px #c76c1d;
}

.game__hand--lastInTriangle {
	margin: 0 auto;
}

.game__hand--selected {
	height: 300px;
	width: 300px;
	cursor: default;
}

.game__hand--withoutType {
	background-color: #1a2946;
}

.game__handIcon {
	align-items: center;
	background: white;
	border-radius: 50%;
	box-shadow: inset 0 8px 1px rgba(156, 156, 156, 0.54);
	display: flex;
	justify-content: center;
	height: 120px;
	padding: 1.6rem;
	width: 120px;
}

.game__handIcon--selected {
	height: 200px;
	width: 200px;
}

.handIcon__icon {
	height: 80px;
	width: 80px;
}

.handIcon__icon--selected {
	height: 110px;
	width: 110px;
}

@media screen and (max-width: 940px) {
	.game__hand--selected {
		height: 150px;
		width: 150px;
	}

	.game__handIcon--selected {
		height: 80px;
		width: 80px;
	}

	.handIcon__icon--selected {
		height: 50px;
		width: 50px;
	}
}

@media screen and (max-width: 660px) {
	.game__hand {
		height: 100px;
		width: 100px;
	}

	.game__hand--selected {
		height: 130px;
		width: 130px;
	}

	.game__handIcon {
		height: 50px;
		width: 50px;
	}

	.game__handIcon--selected {
		height: 70px;
		width: 70px;
	}

	.handIcon__icon {
		height: 40px;
		width: 40px;
	}

	.handIcon__icon--selected {
		height: 50px;
		width: 50px;
	}
}
