.game {
	margin-top: 5rem;
	display: flex;
}

.game--initial {
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: center;
	width: 100%;
	max-width: 540px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.game--afterPlaying {
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.game__resultAndPlayAgain {
	order: 0;
	width: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game__resultMessage {
	color: white;
	font-size: 4.5em;
	font-weight: 700;
	margin-bottom: 0.25em;
}

.game__playAgainButton {
	color: hsl(229, 25%, 31%);
	cursor: pointer;
	border-radius: 10px;
	font: inherit;
	font-size: 1.5em;
	font-weight: 600;
	height: 50px;
	width: 220px;
}

.game__playAgainButton:hover {
	color: hsl(349, 71%, 52%);
}

.game__handAndHandText {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.game__handText {
	color: white;
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
	.game--initial {
		max-width: 290px;
		background-size: 125px;
	}

	.game__resultAndPlayAgain {
		order: 3;
	}

	.game--afterPlaying {
		justify-content: space-around;
	}

	.game__resultAndPlayAgain {
		margin-top: 5em;
	}

	.game__handAndHandText {
		flex-direction: column;
	}

	.game__handText {
		font-size: 2em;
		margin-bottom: 0;
		margin-top: 1em;
	}
}
