.game {
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*@media screen and (min-width: 600px){*/
/*    .game {*/
/*        width: 50rem;*/
/*        height: 50rem;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 992px){*/
/*}*/